* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #242431;
}


.video-container {
    width: 100%;
    aspect-ratio: 16/9;
    background: #3B5676;
    margin: 15px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #343447;
}

th {
    background-color: #3C3C7B;
    font-weight: bold;
    color: #FFFFFF;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
    
.header {
    grid-column: span 5 / span 5;
}

.cam-info {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.video-section {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 2;
}

.place-risk {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

.detections-table {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}

.weather {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 5;
}

#weather-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;
}

.weather-info {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    min-width: 150px;
}